.container {
  background-color: #fff;
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 90vh;
  gap: 10px;
  margin-top: 90px;
}
.searchFixed {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search {
  display: flex;
  gap: 20px;
}

.crossIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px; /* Tamaño total del ícono */
  width: 20px;
  position: relative;
}
.crossIconLine {
  position: absolute;
  width: 2px; /* Ancho de la línea */
  height: 14px; /* Largo de la línea */
  background-color: black; /* Color de la línea */
}
.crossIconLineDiagonal1 {
  transform: rotate(45deg); /* Primera línea diagonal */
}

.crossIconLineDiagonal2 {
  transform: rotate(-45deg); /* Segunda línea diagonal */
}
.clearButton {
  border: none;
  background-color: transparent;
}

.title {
  color: #000000;
  font-size: 32px;
  font-weight: 700;
}
.tasks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  max-height: 75vh;
  padding: 20px;
}

.task {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  border: 1px solid #ccc;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.taskContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.taskAction {
  background-color: transparent;
  padding: 5px 10px;
  cursor: pointer;
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-weight: 600;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modalHeader {
  align-self: flex-end;
}

.incidentsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.incident {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
